.center-navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #3b3b3b;
}

.color{
    color: #ffffff;
}

.color-darker{
    color: #ffffff;
}

.search-bar{
    border-radius: 10px;
    border-width: 0px;
}

.main-display{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.separate{
    margin-right: 20px;
    margin-left: 20px;
}

.favorites-list{
    margin-left: 20px;
}

.current{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.current-weather{
    display: flex;
}

.main-temp{
    font-size: 100px;
}

.center{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.favorites-button{
    padding-left: 80px;
    padding-right: 80px;
}

.icon-setting{
    width: 100px;
}

.weekly-forecast{
    display: flex;
}

.hide{ 
    display: none;
}
/* For the funny button */

.day-card{
    text-align: center;
}

.today-card-header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.today-times{
    display: flex;
    justify-content: space-between;
}

.day-button{
    background: none;
    border: none;
    box-shadow: none;
    margin-right: 5px;
}

.font{
    font-family:'Times New Roman', Times, serif
}

.time{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-title{
    font-size: 40px;
    font-weight: 100;
}

.card-expand-thing{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.smaller-card-thing{
    width: 400px;
}

.break{
    border-style: dashed;
    border-width: 1.2px;
    border-color: white;
}

.not-selected-thing{
    background-color: rgba(68, 68, 68, 0.534);
    border-width: 0px;
}

.just-dark{
    background-color: #444444;
}

.selected-thing{
    border-width: 0px;
    background-color:#212121
}

.body-of-card{
    border-width: 0px;
    background-color: #555555;
}

.main-high-low{
    font-size: 20px;
}

.hour-temp{
    font-size: 40px;
}

.hour-temp-s{
    font-size: 20px;
}

.failed-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-color:#444444
}

.close-fav{
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 50px;
    width: 30px;
    background-color: #444444;
    color: white;
}

.switch{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 500px;
}

.fav-link{
    text-decoration: underline;
}


body{
    background-image: url(../assets/bgdark.png);
    background-size: cover;
}