.center-navbar{
    display: flex;
    justify-content: space-evenly;
}

.main-display{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.separate{
    margin-right: 20px;
}

.current-weather{
    display: flex;
}

.center{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.favorites-button{
    padding-left: 80px;
    padding-right: 80px;
}

.icon-setting{
    width: 70px;
}

.weekly-forecast{
    display: flex;
}

.hide{ 
    display: none;
}
/* For the funny button */

.day-card{
    text-align: center;
}

.today-card-header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.today-times{
    display: flex;
    justify-content: space-between;
}

.day-button{
    background: none;
    border: none;
    box-shadow: none;
    margin-right: 5px;
}