.center-navbar{
    padding-left: 200px;
    padding-right: 200px;
}

.main-display{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.separate{
    margin-right: 20px;
}

.current-weather{
    display: flex;
}

.center-button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.icon-setting{
    width: 70px;
}

.weekly-forecast{
    display: flex;
    
}

.daily-forecast{ 
    display: none;
}
/* For the funny button */

.day-card{
    text-align: center;
}